html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 20px;
  line-height: 1.6;
  color: #555;
}

a {
  color: #27ae60;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

small {
  font-size: 75%;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 300;
  color: #222;
}

code {
  background: #f7f7f7;
  padding: 3px 5px;
  border-radius: 3px;
  border-bottom: 1px solid #eee;
}

pre {
  border-left: 3px solid #27ae60;
  background: #fafafa;
  margin: 0 -150px;
  padding: 20px 30px;
}

pre code {
  background: none;
  padding: 0;
  border-radius: 0;
  border-bottom: none;
}


#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.tip {
  font-size: 80%;
  padding: 8px; 20px;
  text-align: center;
  background: #27ae60;
  color: #fff;
  margin-bottom: 40px;
}

.tip code {
  background: #24a058;
  border-bottom: none;
}

.tip a {
  color: #fff;
  border-bottom: 1px solid;
}

.toggle-shortcode {
  display: inline-block;
  float: left;
  text-align: right;
  margin-left: -280px;
  margin-right: 30px;
  width: 250px;
}

@media screen and (max-width: 1068px) {
  .toggle-shortcode {
    width: auto;
    float: none;
    margin: 0;
    text-align: left;
    display: block;
  }
}

.contents {
  background: #fafafa;
  border-left: 4px solid #eee;
  padding: 15px 20px;
}

.contents ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.error {
  text-align: center;
}

.text-muted {
  color: #aaa;
}

.code {
  font-family: monospace;
}

footer {
  margin: 60px 0;
  font-size: 80%;
}
